<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if session.get("logged_in") %}
            <a href="{{ url_for('logout') }}" class="btn btn-danger float-right mt-3 mb-3">Cerrar Sesión</a>
        {% endif %}

        <h1 class="mt-4 mb-4">Unblocked GPT4</h1>

        <form method="post" class="mb-4">
            <div class="form-group">
                <label for="question">Ingrese su pregunta:</label>
                <input type="text" class="form-control" id="question" name="question" required>
            </div>
            <button type="submit" class="btn btn-primary">Obtener respuesta</button>
        </form>

        {% if session.get("logged_in") %}
            {% if question is defined and question is not none %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Pregunta:</h5>
                        <p class="card-text">{{ question }}</p>
                    </div>
                </div>
            {% endif %}

            {% if answer is defined and answer is not none %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Respuesta:</h5>
                        <p class="card-text" id="answerText">{{ answer|safe }}</p>
                        <button class="btn btn-secondary" onclick="copyToClipboard()">Copiar respuesta</button>
                        <div id="copyMessage" style="color: green; margin-top: 10px;"></div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function copyToClipboard() {
            var textToCopy = document.getElementById("answerText");
            var textArea = document.createElement("textarea");
            textArea.value = textToCopy.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);

            var copyMessage = document.getElementById("copyMessage");
            copyMessage.innerHTML = "Texto copiado al portapapeles";

            setTimeout(function() {
                copyMessage.innerHTML = "";
            }, 3000);
        }

      window.addEventListener('beforeunload', function () {
        var data = new FormData();
        navigator.sendBeacon("{{ url_for('logout') }}", data);
        });
    </script>
</body>
</html>
